
@font-face {
  font-family: 'Berylium-bold';
  src: url('Berylium-bold.eot?#iefix') format('embedded-opentype'),  url('Berylium-bold.woff') format('woff'), url('Berylium-bold.ttf')  format('truetype'), url('Berylium-bold.svg#Berylium-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
